@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
:root{
    --light-bg:rgba(255, 144, 14, 0.1);
    --dark-2:#424242;
    --dark-1:#131313;
    --dark-3:#727272;
    --orange:#FF900E; 
}
/* Shared style */
.title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--dark-1);
}
.banner-description{
    line-height: 26px;
    color: var(--dark-3);
    margin: 2rem 0px;
}
.maxwidth{
    max-width: 1452px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.primary-btn{
    background-color: var(--orange);
    padding: 21px 25px;
    color: white;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}
/* main style */
header{
    background-color: var(--light-bg);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    gap:50px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-2);
    font-size: 1.25rem;
}
/* banner style */
.banner{
    text-align: center;
}
.banner-content{
    max-width: 862px;
    margin: 116px auto 50px;
    text-align: center;
}
.banner-titile{
    font-size: 4rem;
    font-weight: bold;
    color: var(--dark-1);
}

.banner-img{
    width: 100%;
}
/* team section style */
.teams-features{
    display: flex;
    max-width: 1320px;
    margin: 130px auto;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.features-container{
    margin-left:73px;
}
.quick-list{
    color: var(--dark-3);
}
#features-span{
    color: var(--orange);
}
.features-text{
    margin-top: 24px;
}

/* features section style */
.features-section{
    gap: 54px;
    margin-bottom: 130px;
}
.feature-heading{
    border-left: 5px solid var(--orange);
    padding-left: 21px;
    margin-top: 39px;
    margin-bottom: 24px;
}
.feature-card{
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-card h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark-1);
    margin-bottom: 10px;
}
.expr-btn{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: -92px;
    margin-top: -100px;
}
#expreience-year{
    font-size: 4rem;
    font-weight: bold;
}

/* Some Facts section style */
.facts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:125px;
}
.fact-card{
    border: 1px solid var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-top:45px;
    padding-bottom: 45px;
}
.fact-card h3{
    font-size: 4rem;
    font-weight: 600;
    color: var(--dark-2);
    margin: 5px;
}
.fact-card p{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark-3);
}
/* sponsors releted style */
.our-sponsor{
    margin:130px auto;
} 
.sponsor-content{
    max-width: 542px;
    margin: 45px auto;
    text-align: center;
}
.sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}
.sponsor-img-container img{
    filter: grayscale(100%);
}
.footer{
    padding: 38px 0px;
    text-align: center;
    background-color: #FFF4E7;
}
/* smal device responsive media query */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams-features,
    .features-section{
        flex-direction: column;
        gap:10px;
    }
    .brand{
        font-size: 2rem;
    }
    .banner-content {
        margin: 60px auto 50px;
        padding: 10px;
    }
    .banner-titile{
        font-size: 2.5rem;
    }
    .teams-img-container, .facts,.sponsor-img-container{
        grid-template-columns: 1fr;
    }
    .feature-img-container img{
        width: 100%;
    }
    .expr-btn {
        padding: 20px 20px;
        margin: 10px;
    }
    #expreience-year{
        font-size: 2.5rem;
    }
    .facts, .sponsor-img-container{
        gap:20px;
    }
    .fact-content{
        text-align: center;
    }
    .fact-card{
        width: 80%;
         margin: 0 auto;
        padding: 10px 20px 20px;
    }
}

/* Medium device responsive media query */
@media screen and (min-width:577px) and (max-width:992px){
   .nav-links {
        margin-right: 20px;
    } 
    .teams-features, .features-section{
        flex-direction: column;
        gap: 20px;
    }
    .teams-img-container img{
        width: 100%;
    }
    .features-container {
        text-align: center;
        margin:0px 115px;
    }
    .feature-img-container img{
        width: 100%;
    }
    .expr-btn {
        padding: 20px 20px;
        margin: 10px;
    }
    .facts{
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
    }
    .fact-content{
        text-align: center;
    }
}